html {
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  margin: -2.5rem 0 1rem 0;
}

h2 {
    font-size: 5rem;
    text-align: center;
}

a {
  color: #770077;
  text-decoration: none;
}

button {
  background-color: #99d9d9;
  border-radius: 0.5rem;
  cursor: pointer;
}

.solgan {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-top: -4rem;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.upsideDownTriangle {
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 11rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  padding-bottom: 1rem;
}

.NavMove {
  margin-right: 0.5rem;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.HomePage {
  background-image: url("/images/SeattleBeachGGWeb.webp");
}

.HomePageAbout {
  font-size: 1.5rem;
  font-weight: 600;
}

.SeattleMoviesMainHeader,
.SeattlePeopleMainHeader,
.SeattleFunFactsMainHeader {
  font-size: 1.25rem;
  font-weight: 900;
}


footer {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 0 1rem 0;
}

.NavFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}